#{extends 'Secure/layout.html' /}

#{if flash.error}
	<div class="alert alert-error">
		<strong>Erro:</strong> &{flash.error}
	</div>
#{/if}
<div class="row">
	<div class="login-form">
	     #{form @authenticate()}
	         <fieldset>
	             <div class="clearfix">
	                 <input type="text" placeholder="Login" name="username" id="username" value="${flash.username}">
	             </div>
	             <div class="clearfix">
	                 <input type="password" name="password" id="password" value="" placeholder="Senha">
	             </div>
	             <button class="btn primary" type="submit" value="&{'secure.signin'}">Entrar</button>
	         </fieldset>
	     #{/form}
	</div>
</div>
</div> 