#{extends './../main.html' /}
#{set title:'Home' /}
<div>
#{form @saveUser()}
	<p class="field">
		<label for="nomeusuario"><strong>Nome usuario:</strong></label>
		<input type="text" name="user.name" value="${user?.name}"></input>
	</p>
	
	<p class="field">
		<label for="emailusuario"><strong>Email:</strong></label>
		<input type="text" name="user.email" value="${user?.email}"></input>
	</p>
	
	<p class="field">
	  <label>ƒ administrador ?:</label>
	  <input type="checkbox" name="user.admin" ${user.admin ? 'checked="checked"':''}">
	</p>
	
	<p class="field">
		<label for="emailusuario"><strong>Senha:</strong></label>
		<input type="password" name="user.password" value="${user.password}"></input>
	</p>
	

	<input type="hidden" name="user.id" value="${user?.id}"></input>
	<p class="buttons">
		<input type="button" value="Cancelar" onclick="location.href='@{index()}'"> 
		<input type="submit" value="Salvar">
	</p>
	
#{/form}
</div>

