#{extends 'main.html' /}
#{set title:'TaskControl - DashBoard' /}

#{secure.check "administrator"}
	#{include 'Users/formUser.html'/}
#{/secure.check}

<table >
	<thead>
  		<tr>
		    <th>Id</th>
		    <th>Nome</th>
		    <th>Email</th>
		    <th>Editar</th>
		    <th>Deletar</th>
		  </tr>
		  
	</thead>
	<tbody>
		#{list items:users, as:'user'}
		<tr>
			<td>${user.id}</td>
			<td>${user.name}</td>
			<td>${user.email}</td>
			<td><a href="@{Users.formUser(user.id)}">Editar</a></td>
			<td><a href="@{Users.deleteUser(user.id)}">Deletar</a></td>
		</tr>
		#{/list}
    </tbody>
</table>
