#{extends 'main.html' /}
#{set title:'Home' /}
<div>
#{form @saveTask()}
	<input type="hidden" name="task.id" value="${task?.id}">
	<p class="field">
		<label for="tipotarefa"><strong>Tipo Tarefa:</strong></label>
		#{select 'task.taskType.id', value:task?.taskType?.id, items:taskTypes, labelProperty:'description' /}
	</p>
	
	<p class="field">
		<label for="responsavel"><strong>Responsavel:</strong></label>
		#{select 'task.user.id', value:task?.user?.id, items:users, labelProperty:'name'/}
	</p>
	
	<p class="field">
		<label for="datainicio"><strong>Data Inicio:</strong></label>
		<input type="text" id="initialDate" name="task.initialDate" value="${task?.initialDate?.format('yyyy-MM-dd')}">
	</p>
	
	<p class="field">
		<label for="descricaotarefa"><strong>Descricao Tarefa:</strong></label>
		<textarea name="task.description" rows="10" cols="57">${task?.description}</textarea>
	</p>
	
	<p class="buttons">
		<input type="button" value="Cancelar" onclick="location.href='@{index()}'"> 
		<input type="submit" value="Salvar Tarefa">
	</p>
	
	 <script type="text/javascript" charset="${_response_encoding}">
        $("#initialDate").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
	</script>
#{/form}
</div>
