#{extends 'main.html' /}
#{set title:'TaskControl - DashBoard' /}
<table >
	<thead>
  		<tr>
		    <th>Numero</th>
		    <th>Tipo</th>
		    <th>Responsavel</th>
		    <th>Data Inicio</th>
		    <th>Editar</th>
		    <th>Deletar</th>
		  </tr>
		  
	</thead>
	<tbody>
		#{list items:tarefas, as:'tarefa'}
		<tr>
			<td>${tarefa.id}</td>
			<td>${tarefa.tipoTarefa?.descricao}</td>
			<td>${tarefa.usuario?.nome}</td>
			<td>${tarefa.dataInicial?.format('yyy-MM-dd')}</td>
			<td><a href="@{Tarefas.formTarefa(task.id)}">Editar</a></td>
			<td><a href="@{Tarefas.deletarTarefa(task.id)}">Deletar</a></td>
		</tr>
		#{/list}
    </tbody>
</table>
