#{extends 'main.html' /}
#{set title:'TaskControl - DashBoard' /}
<table >
	<thead>
  		<tr>
		    <th>Numero</th>
		    <th>Tipo</th>
		    <th>Responsavel</th>
		    <th>Data Inicio</th>
		    <th>Editar</th>
		    <th>Deletar</th>
		  </tr>
		  
	</thead>
	<tbody>
		#{list items:tasks, as:'task'}
		<tr>
			<td>${task.id}</td>
			<td>${task.taskType?.description}</td>
			<td>${task.user?.name}</td>
			<td>${task.initialDate?.format('yyy-MM-dd')}</td>
			<td><a href="@{form(task.id)}">Editar</a></td>
			<td><a href="@{delete(task.id)}">Deletar</a></td>
		</tr>
		#{/list}
    </tbody>
</table>
