<html>
    <head>
        <title>#{get 'title' /}</title>
        <script src="@{'public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	<script src="@{'public/javascripts/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/stylesheets/style.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/stylesheets/jquery-ui-1.7.2.custom.css'}" />
        <meta charset="${_response_encoding}">
    </head>
    <body>
    	<nav>
   			<a id="home" href="@{index()}">Inicio</a>
   			<a id="new" href="@{form()}">Novo</a>
   		</nav>
		#{doLayout /}
    </body>
</html>
