<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
    </head>
    <body>
    	<nav>
   			<a id="home" href="@{Application.index()}">Inicio</a>
   			<a id="new" href="@{Tarefas.formTarefa()}">Nova Tarefa</a>
   			#{secure.check "administrador"}
   			<a id="usuario" href="@{Usuarios.index()}">Usuarios</a>
			<a id="new" href="@{TiposTarefas.formTipoTarefa()}">Tipos de Tarefas</a>
			#{/secure.check}
			<a href="@{Secure.logout()}">Sair</a>
   		</nav>
		#{doLayout /}
    </body>
</html>
